main {
  width: 85%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 145px;
}

.active{
  background-color: red;
}

.row{
  min-height: 300px;
  margin-top: 100px;
}

.container-fluid:first-child{
  margin-top: 300px;
}

.container-fluid:last-child{
  padding-bottom: 200px;
}