body{
  color:rgb(213, 213, 213);
  background-color: rgb(34, 34, 34);
}

main {
  width: 60%;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 145px;
}

a{
  color:rgb(213, 213, 213);
}

#Resume {
  padding-top: 75px;
}

#Portfolio {
  padding-top: 75px;
}

#Contact {
  padding-top: 75px;
}

#Contact a{
  margin-left: 5px;
}



.container-fluid:first-child{
  margin-top: 300px;
}

.container-fluid:last-child{
  padding-bottom: 200px;
}

.education-container .item{
  padding-bottom: 1.5em;
}